@font-face {font-family: "Montserrat"; src: url("../fonts/MontserratAlternates-Bold.ttf");}
@font-face {font-family: "Montserrat-regular"; src: url("../fonts/MontserratAlternates-Regular.ttf");}

h1, h3 {
	font-family: "Montserrat";
	color: black;
	margin: 0;
}	

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: purple;
}

#side-bar ul {
	position: absolute;
	right:5%;
	top: 2%;
	width: 20%;
	text-align: right; 
	list-style-type: none; 
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#side-bar li a {
	color: black;
	font-family: "Montserrat-regular";
}

#side-bar li a:hover {
	color: purple;
	font-family: "Montserrat";
}

.projects{
}

iframe {
	border: solid black 0.25em;
	display: inline-block;
	width: 65vw;
	height: 35vw;
}

.tombstone{
	position: absolute;
	left:70vw;
	font-family: "Montserrat";
	font-size: 24pt;
}

.one {
	padding-top: 2em;
	padding-bottom: 2em;
}




