@font-face {font-family: "Montserrat"; src: url("../fonts/MontserratAlternates-Bold.ttf");}
@font-face {font-family: "Montserrat-regular"; src: url("../fonts/MontserratAlternates-Regular.ttf");}

h1, h3{
	font-family: "Montserrat";
}

.project-1 {
	background: #CCCCFF;
	position: absolute;
	width: 75%;
	height: 75%;
	left: 5%;
	
}

.project-2 {
	background: #FFCCCC;
	position: absolute;
	width: 75%;
	height: 75%;
	top: 95%;
	left: 5%;
}

p{
	position: absolute;
	left: 90%;
	font-family: "Montserrat-regular";
	font-size: 2em;
}
